.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box__kjn7E {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  max-width: 1600px;
  min-width: 0;
}
.box__kjn7E > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__kjn7E > :global(.__wab_flex-container) > *,
.box__kjn7E > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section__dqwHp:global(.__wab_instance) {
  position: relative;
}
.box__mIvCf {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__mIvCf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__mIvCf > :global(.__wab_flex-container) > *,
.box__mIvCf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mIvCf {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mIvCf > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__mIvCf > :global(.__wab_flex-container) > *,
  .box__mIvCf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.plan__mic6J:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__lu25 {
  font-size: 48px;
}
.box___5Y2Tr {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box___5Y2Tr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box___5Y2Tr > :global(.__wab_flex-container) > *,
.box___5Y2Tr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__lueOf:global(.__wab_instance) {
  position: relative;
}
.bullet__d52AH:global(.__wab_instance) {
  position: relative;
}
.bullet__eevpa:global(.__wab_instance) {
  position: relative;
}
.plan__kIhB:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__hbay7 {
  font-size: 48px;
}
.box__sn98I {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__sn98I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__sn98I > :global(.__wab_flex-container) > *,
.box__sn98I > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__bqnq4:global(.__wab_instance) {
  position: relative;
}
.bullet__txJwA:global(.__wab_instance) {
  position: relative;
}
.bullet__hVxhs:global(.__wab_instance) {
  position: relative;
}
.bullet__mygHd:global(.__wab_instance) {
  position: relative;
}
.plan__oYqb:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.box__gj0E5 {
  font-size: 48px;
}
.box__stfyI {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__stfyI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__stfyI > :global(.__wab_flex-container) > *,
.box__stfyI > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet___8F8Kw:global(.__wab_instance) {
  position: relative;
}
.bullet__mPlPj:global(.__wab_instance) {
  position: relative;
}
.bullet__h5USx:global(.__wab_instance) {
  position: relative;
}
.section__bhgNu:global(.__wab_instance) {
  position: relative;
}
.faq__f2Jub:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__gLfd8:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__eCig:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
