.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__oIjRa {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: oe3_D-psCre8PL */;
}
.box__n5F6J {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__n5F6J > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box__n5F6J > :global(.__wab_flex-container) > *,
.box__n5F6J > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__n5F6J {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__n5F6J > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__n5F6J > :global(.__wab_flex-container) > *,
  .box__n5F6J > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__pZhs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.box__pZhs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__pZhs > :global(.__wab_flex-container) > *,
.box__pZhs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink__wWryw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__s9ICf {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.box___3CyY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__eBuz1 {
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__eBuz1:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box___1LnLl {
  position: relative;
}
.link__fnhvo {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__fnhvo:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__gjVkn {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__gjVkn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__gjVkn > :global(.__wab_flex-container) > *,
.box__gjVkn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__gjVkn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__gjVkn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__gjVkn > :global(.__wab_flex-container) > *,
  .box__gjVkn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__oqcUu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__oqcUu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__oqcUu > :global(.__wab_flex-container) > *,
.box__oqcUu > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__a5AOz {
  position: relative;
  font-weight: 700;
}
.link__myWiK {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__myWiK:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__hPyEe {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__hPyEe:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__wdxJg {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__wdxJg:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__qTvSb {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__qTvSb:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__f6T8R {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__f6T8R:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__a4Od {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__a4Od > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__a4Od > :global(.__wab_flex-container) > *,
.box__a4Od > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__ojsVz {
  position: relative;
  font-weight: 700;
}
.link__lMaS {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__lMaS:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___5DbzZ {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link___5DbzZ:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__mXr9G {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__mXr9G:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__b5Zkq {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__b5Zkq:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__cr3M {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__cr3M:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__yh2Gs {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__yh2Gs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__yh2Gs > :global(.__wab_flex-container) > *,
.box__yh2Gs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__eUqPe {
  position: relative;
  font-weight: 700;
}
.link__bmaCz {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__bmaCz:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___7IbNy {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link___7IbNy:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__zvjj4 {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__zvjj4:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__p8LCm {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__p8LCm:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__f4Lmf {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__f4Lmf:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__nNcAi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.box__nNcAi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__nNcAi > :global(.__wab_flex-container) > *,
.box__nNcAi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box___9OwRz {
  position: relative;
  font-weight: 700;
}
.box__fz0Lf {
  position: relative;
}
.box___5Vbvo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  min-width: 0;
  border-width: 0px;
}
.button {
  position: relative;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-left-style: solid;
}
.box__l96H {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: oe3_D-psCre8PL */;
}
.box__fxB1Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__fxB1Z {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__fxB1Z > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__fxB1Z > :global(.__wab_flex-container) > *,
  .box__fxB1Z > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.box__n6OtE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__sQLfa {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
  height: auto;
}
.root .link__sQLfa:hover {
  text-decoration-line: underline;
}
.link__yJtym {
  position: relative;
  color: #535353 /* plasmic-token: iLRFeF-Vo8vmya */;
}
.root .link__yJtym:hover {
  text-decoration-line: underline;
}
.box__zciEv {
  position: relative;
  height: auto;
  width: auto;
  display: inline-block;
}
.box__mAg6Z {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__mAg6Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__mAg6Z > :global(.__wab_flex-container) > *,
.box__mAg6Z > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__jrawL:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__a5Ik {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__a5Ik:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink___9Sj2B:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ulN {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__ulN:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__imGxs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__a3Hck {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__a3Hck:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
